$primary-color: #444; //variables
$secondary-color:#E9896A;
$back-color:#444E;
$third-color:#FCECDD;
$show-home-image:true;
$home-image:url(/dist/images/background.jpg);
$home-image2:url(/dist/images/background-2.jpg);
$portrait-image:url(/dist/images/japanese1.png);
$background-opacity: 0.5;

@mixin easeOut { //function for transitions of icons
    transition: all 0.5s ease-out;
}


@mixin background{
    @if $show-home-image {
        &#bg-img{
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            
        
        }

        &#bg-img-2{
            background: $home-image2;
            background-attachment: scroll;
            background-size: cover;
            opacity: 0.9;
            z-index: -10;
            color:#FFF8D9;
        }

        .overlay{
            position: absolute;
            top: 0;
            right:0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba($back-color,$background-opacity);
        }
    }
}

// media queries are used to maka pages responsives by applying css rules and styles and properties only if a certain conditions is true.


@mixin mediaSm {
    @media screen and (max-width:500px) {
        //any css that we put inside here will only apply if the screen is 500px or less
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width:768px) {
        //any css that we put inside here will only apply if the screen is 500px or less
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width:1170px) {
        //any css that we put inside here will only apply if the screen is 500px or less
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width:1171px){
        //any css that we put inside here will only apply if the screen is 500px or less
        @content;
    }
}
