@import 'config';
@import '_menu';

*{
    box-sizing: border-box;
}

body {
    @include background();
    background-color: $primary-color;
    color:white;
    height: 100%;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//headings

h1,h2,h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading{ // this is equal to h1.lg-heading, we are nesting ids and classes
        font-size: 6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding:0.2rem 1rem;
        //background: lighten($secondary-color,7); //takes in two parameters, first one being the original color and the second parameter how much we want to lighten it 
    }
}

a{
    color:white;
    text-decoration: none;
}

header{
    position:fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
color: $secondary-color;
}

main{
    padding:4rem;
    height:100%;

    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover{ //a:hover nested css
                color: $secondary-color;
                @include easeOut();
                font-size: 2em;
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}