@import 'config';
@import 'menu';



*{
    box-sizing: border-box;
}

body {
    @include background();
    background-color: $primary-color;
    color:white;
    height: 100%;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//headings

h1,h2,h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading{ // this is equal to h1.lg-heading, we are nesting ids and classes
        font-size: 6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding:0.2rem 1rem;
        //background: lighten($secondary-color,7); //takes in two parameters, first one being the original color and the second parameter how much we want to lighten it 
    }
}

a{
    color:white;
    text-decoration: none;
}

header{
    position:fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
color: $secondary-color;

}

main{
    padding:4rem;
    // height:100%;
    min-height: calc(100vh - 75px);  // sticky footer purposes

    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover{ //a:hover nested css
                color: $secondary-color;
                @include easeOut();
                font-size: 1.2em;
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}

.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'skill1 skill2 skill3';
    grid-template-columns: repeat(3,1fr);
}

.bio-image{
    grid-area:bioimage;
    margin: auto;
    border-radius: 50%;
    


}

.bio{
    grid-area: bio;
    font-size: 1.5rem;
   
    
}

.skill-1{

    grid-area: skill1;
    text-align: center;
    
    

    p{
        font-size: 20px;
    }

    h3{
        font-size: 28px;
        color: $secondary-color;
        padding: 1em;
        
    }


    
}

.nested{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:5px;
    grid-gap:1em;
   
    .word{
        color:$secondary-color;
    }
}

.nested2{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:5px;
    grid-gap:1em;
}
.skill-2{
    grid-area: skill2;

    p{
        font-size: 20px;
    }
    h3{
        font-size: 28px;
        color: $secondary-color;
        text-align: center;
        padding: 1em;
        
    }

    .word{
        color: $secondary-color;
    }
}

.skill-3{
    grid-area: skill3;
    
    
    p{
        font-size: 20px;
        
    }
    h3{
        font-size: 28px;
        color: $secondary-color;
        text-align: center;
        padding: 1em;
        
        
    }
}

.nested3{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:5px;
    grid-gap:1em;
    
   

    div{
        padding: 0;
        margin: 0;
    }

    p{
        padding: 0;
        margin: 0;
    }


}

.skill{
    background: rgba($color:black, $alpha: 0.7);
    border-bottom: solid 5px $secondary-color;
}

#main-footer{
    text-align: center;
    padding: 1rem;
    color:$secondary-color;
    background: rgba($color: black, $alpha: 0.2);
    height: 75px;
}

@import 'mobile';